<%- include('components/head') %>

<form id="form">
    <input type="text" id="title" name="title" placeholder="Title"  />
    <input type="text" id="description" name="description" placeholder="Description"  />
    <input type="number" id="price" name="price" placeholder="Price"  />
    <input type="number" id="stock" name="stock" placeholder="Stock"  />
    <input type="file" id="image" name="image" accept="image/*" />
    <button type="submit">Submit</button>
</form>

<script>
    const form = document.getElementById('form');
    form.addEventListener('submit', async function(e) {
        e.preventDefault();

        // Create a FormData object and append each field individually
        const formData = new FormData();
        formData.append('title', document.getElementById('title').value);
        formData.append('description', document.getElementById('description').value);
        formData.append('price', document.getElementById('price').value);
        formData.append('stock', document.getElementById('stock').value);
        
        console.log(formData)

        const fileInput = document.getElementById('image');
        if (fileInput.files.length > 0) {
            formData.append('image', fileInput.files[0]); // Append the file if present
        }

        console.log(formData)
        
        try {
            const response = await fetch('http://localhost:3000/api/products', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();

            if (response.ok) {
                alert('File uploaded successfully');
                window.location.reload();
            } else {
                alert('Upload failed: ' + result.errors);
            }
        } catch (error) {
            console.error(error);
            alert('There was an error with the request');
        }
    });
</script>

<%- include('components/foot')%>